/edu.javaswing/nbproject/private/
/edu.javaswing/build/
/com/nbproject/private/
/com/build/
/Chap01.basic/nbproject/private/
/Chap01.basic/build/
/Chess/nbproject/private/
/Chess/build/
/QuanLiSV/nbproject/private/
/QuanLiSV/build/
/ExplorerTest/nbproject/private/
/ExplorerTest/build/
/FileAndFolder/nbproject/private/
/FileAndFolder/build/
/Dictionary/nbproject/private/
/Dictionary/build/
/ReadXML/nbproject/private/
/ReadXML/build/
/JDBC/nbproject/private/
/JDBC/build/
/Dictionary/dist/
/JBDC_SQL/nbproject/private/
/JBDC_SQL/build/
/JBDC_SQL/dist/
/Hibernate/nbproject/private/
/Hibernate/build/
/HibernateAdd04/nbproject/private/
/HibernateAdd/nbproject/private/
/HibernateAdd/build/
/HibernateDealte/nbproject/private/
/HibernateDealte/build/